[home]
eggcarton = /home/zope/pleiades/eggcarton

[buildout]
extends = pleiades-production.cfg
extensions = buildout.dumppickedversions
# These services should all be managed via APT/ansible
parts -=
    nginx-build
    balancer
    varnish-build
    cache
    logrotate.conf
    supervisor

[versions]
ctypes = 1.0.2

[ctypes]
recipe = zc.recipe.egg:custom
index = http://atlantides.org/eggcarton/
egg = ctypes

[plone-sites]
main = plone

[hosts]
instance1 = atlantides.org
instance2 = atlantides.org
instance3 = atlantides.org
instance4 = atlantides.org
instance5 = atlantides.org
debug-instance = atlantides.org

[ports]
zeo-server = 8301
instance1 = 8401
instance2 = 8402
instance3 = 8403
instance4 = 8404
instance5 = 8405
debug-instance = 8406
